body {
    font-family: verdana, arial, helvetica;
}

.textbox {
    padding: 10px;
}

.meckers-movable .handle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 13px;
    background-color: black;
    display: none;
    cursor: move;
    opacity: 0.3;
}

.meckers-resizable .resize-handle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    background: url(/public/images/resize.png);
    opacity: 0.5;
    cursor: se-resize;
    display: none;
}

.mouse-selection {
    position: absolute;
}