body {
    font-family: verdana, arial, helvetica;
    height: 100%;
    margin: 0;
}




#content {

}

/* META-STRIP */

#meta-strip {
    /*width: 100%;*/
    background-color: #D6E3E6;
    display: table-row;
    /*height:100px;*/
}

#meta-strip div {
    display: table-cell;
    white-space: nowrap;
    border-bottom: 1px solid rgb(168, 182, 202);
}

#meta-strip div.info {
    width: 100%;
}

#meta-strip div.controls {
    width: 100px;
}

#meta-strip input#page-title {
    border: none;
    background-color: #D6E3E6;
    font-family: georgia;
    font-size: 2em;
    width: 100%;
}

#meta-strip .button {
    top: -5px;
    position: relative;
    margin: 0px;
    margin-right: 5px;
}

#save-page-button {
    background-color: grey;
}

#save-page-button:disabled {
    color:black;
    cursor: auto;
}

#save-page-button.saving {
    background-color: grey;
}

#save-page-button.dirty {
    background-color: #61ef7e;
}

/* BUTTON(S) */

.button {
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 5px 13px 5px 13px;
    cursor: pointer;
}

.button.positive {
    background-color: #61ef7e;
}


/* MENU */

.menu {
    background-color: #D6E3E6;
    position: absolute;
    padding: 10px;
}

.menu .menu-option {
    display: block;
    width: 100px;
    text-align: center;
    background-color: #61ef7e;
    border: 1px solid grey;
    margin-bottom: 5px;
    cursor: pointer;
}

.menu .menu-option:last-child {
    margin: 0;
}


/* BOXES */

.box {
    position: absolute
}

.box:hover {
    background-color: #fafafa;
}

.textbox,
.input-element {
    font-family: 'Droid Sans', Helvetica;
    font-weight: 400;
    font-size: 15px;
}

.textbox {
    color: #4B4715;
    line-height: 20px;
}

.textbox strong {
    font-weight: 700;
}

.textbox,
.input-element {
    height: 100%;
    width: 100%;
}

.textbox p {
    margin-top: 0;
    margin-bottom: 15px;
}

.input-element {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

.textbox.hidden,
.input-element.hidden {
    display: none;
}

.delete-button {
    z-index: 1000;
    display: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    background-color: white;
    margin-top: -18px;
    top: 0;
    right: 0;
}




#image-inputs {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -10px;
}

#url-input {
    width: 200px;
    font-size: 0.9em;
}


/* MOVABLE */

.meckers-movable .handle {
    position: absolute;
    top: -18px;
    left: 0px;
    width: 100%;
    height: 18px;
    background-color: #ff7a3e;
    display: none;
    cursor: move;
    opacity: 0.3;
    z-index: 100;
    border-radius: 5px 0px 5px 0px;
}

.meckers-resizable .resize-handle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    background: url(/public/images/resize.png);
    opacity: 0.5;
    cursor: se-resize;
    display: none;
    z-index: 100;
}

.mouse-selection {
    position: absolute;
}

/* DROPZONE */

div.dz-preview {
    display: none;
}

/* TEST */

.box.center-contain{
    display:block;
    height: 300px;
    white-space: nowrap; /* prevents line-breaking */
    overflow: hidden; /* hides overflow */
}
.box.center-contain:after{
    content: '';
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    width:0;
}
.box.center-contain > .image-box{
    display: inline-block;
    width:100%;
    white-space: normal; /* enables line-breaking */
}