/* META-STRIP */

#meta-strip {
    /*width: 100%;*/
    background-color: #D6E3E6;
    display: table-row;
    /*height:100px;*/
}

#meta-strip div {
    display: table-cell;
    white-space: nowrap;
    border-bottom: 1px solid rgb(168, 182, 202);
}

#meta-strip div.logo {
    border-right: 1px solid grey;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #C2D3D8;
}

#meta-strip div.logo a {
    position: relative;
    top: -5px;
    text-decoration: none;
}

#meta-strip div.info {
    padding-left: 10px;
    width: 100%;
}

#meta-strip div.controls {
    width: 100px;
}

#meta-strip input#page-title {
    border: none;
    background-color: #D6E3E6;
    font-family: georgia;
    font-size: 2em;
    width: 100%;
}

#meta-strip .button {
    top: -5px;
    position: relative;
    margin: 0px;
    margin-right: 5px;
}

#save-page-button {
    background-color: grey;
}

#save-page-button:disabled {
    color:black;
    cursor: auto;
}

#save-page-button.saving {
    background-color: grey;
}

#save-page-button.dirty {
    background-color: #61ef7e;
}
