/* TUTORIAL */

.tutorial {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    font-size: 0.8em;
    border: 1px dotted #ababab;
    border-radius: 4px;
    padding: 10px;
    color: #666;
    background-color: white;
}
.tutorial .tutorial-header {
    font-weight: bold;
    margin-bottom: 5px;
}
.tutorial .tutorial-text {
    margin-bottom: 5px;
}

.tutorial .tutorial-controls {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tutorial .button {
    display: inline;
    margin: 5px;
}

.tutorial .button.off {
    right: 0px;
}