#{extends 'main.html' /}
#{set title:'Home' /}

<div id="landing-page">

    <div id="start-navigation">

        <div class="logo">M I X P I N</div>

        <div class="description">
            It's a great way to share information on the fly. Combine text, images and video to create
            a neat looking presentation and then share it to the world!
        </div>

        <a href="/create/" class="button positive">Create a page</a>

        <div id="latest-pages">
            <div class="small-header">LATEST PAGES</div>
            <ul>
                #{list items:latestPages, as:'page'}
                    <li><a href="/${page._id}"> ${page.title}</a><br/></li>
                #{/list}
            </ul>
        </div>

        <a id="development-link" href="http://grid.eckers.se/f6fab">What is in development?</a>

    </div>


</div>